name: trigger jenkins job
on: [ push ]
jobs:
  build:
    name: Trigger Jenkins Job
    runs-on: ubuntu-latest
    steps:
      - name: Jenkins New Job Builder
        id: jenkins-action
        uses: halilsafakkilic/jenkins-action@master
        with:
          jenkins_url: ${{ secrets.JENKINS_URL }}
          jenkins_user: ${{ secrets.JENKINS_USER }}
          jenkins_token: ${{ secrets.JENKINS_TOKEN }}
          job_name: "your-job-name"
          job_params: '{"gitRef":"${{ github.ref }}"}' # Default {}
          job_timeout: "3600" # Default 60 sec. (optional)
          debug: "true" # Default false (optional)
      - name: Jenkins Build ID
          run: echo "${{ steps.jenkins-action.outputs.build_id }}"